body{
    background-color: black;
}
input[type=text],input[type=email],input[type=password]{
    width:100%;
    padding: 10px;
    color: aquamarine;
}
label{
    padding: 10px;
    color: aqua;
    height: 20px;
}
button{
    background-color:aquamarine;
}
button:hover{
    color:darkkhaki;
}
h1{
    text-align: center;
    height:30px;
    color:crimson
}